<amexio-viewport [type]="'2'" [scrollable]="true">
  <amexio-viewport-content [scrollable]="false">

    <amexio-viewport-background>
      <amexio-image [path]="'assets/menu1/2.jpg'"></amexio-image>
    </amexio-viewport-background>

    <amexio-viewport-content-body>
        <amexio-nav [transparent]="true" [enable-side-nav-position]="true" [title]="'Infografic'" [logo]="'assets/travelling.png'">
          <amexio-nav-item position-right [title]="'Home'" [icon]="'fa fa-home fa-fw fa-lg'" [type]="'button'" style="cursor: pointer;">
          </amexio-nav-item>
          <amexio-nav-item position-right *ngFor="let menus of navmenus" [type]="'menu'" [title]="menus.text" [icon]="menus.icon" [data]="menus.submenus">
          </amexio-nav-item>
        </amexio-nav>
      <div class="rowClass">
        <amexio-row>
          <amexio-column size="7" [fit]="false">
          </amexio-column>
          <amexio-column size="3" [fit]="false">
            <amexio-menu-ce [menu-alignment]="left" [animation-type]="1" [data]="tempData" [font]="'Josefin Slab'" [size]="50">
            </amexio-menu-ce>
          </amexio-column>
        </amexio-row>
      </div>

    </amexio-viewport-content-body>
  </amexio-viewport-content>

</amexio-viewport>