<amexio-viewport [type]="'1'" [scrollable]="false">
    <amexio-viewport-content [scrollable]="false">
        <amexio-viewport-background>
            <amexio-image [path]="'assets/living-room1.jpg'"></amexio-image>
        </amexio-viewport-background>
        <amexio-viewport-content-body>

            <amexio-nav [transparent]="true" [enable-side-nav-position]="true" [title]="'cards.com'" [logo]="'assets/cardslogo.png'">
                <amexio-nav-item position-right [title]="'Home'" [icon]="'fa fa-home fa-fw fa-lg'" [type]="'button'" style="cursor: pointer;">
                    </amexio-nav-item>
                    <amexio-nav-item position-right [title]="'About'" [icon]="'fa fa-address-book-o fa-fw'" [type]="'button'" style="cursor: pointer;">
                    </amexio-nav-item>
                    <amexio-nav-item position-right *ngFor="let menus of navmenus" [type]="'menu'" [title]="menus.text" [icon]="menus.icon" [data]="menus.submenus"
                     >
                    </amexio-nav-item>
                    <amexio-nav-item position-right [title]="'Help'" [icon]="'fa fa-envelope fa-fw'" [type]="'button'" style="cursor: pointer;">
                    </amexio-nav-item>
                <amexio-nav-item position-right [type]="'link'" [icon]="'fa fa-user'" [title]="'Login'">
                </amexio-nav-item>
            </amexio-nav>
            <div>
                <amexio-row>
                    <amexio-column size="12" style="padding-top:14%">
                    </amexio-column>
                </amexio-row>
                <amexio-layout-columns [orientation]="'vertical'" [border]="false">
                    <amexio-layout-item [fit]="true" *ngFor="let alignment of ['center']">
                        <amexio-layout-columns [border]="false" [orientation]="'horizontal'" [alignment]="alignment">
                            <amexio-layout-item>
                                <amexio-label size="large-bold" font-color="white">
                                    What do you wanna buy today?
                                </amexio-label>
                            </amexio-layout-item>

                        </amexio-layout-columns>
                    </amexio-layout-item>
                </amexio-layout-columns>
                <amexio-layout-columns [orientation]="'vertical'" [border]="false" [alignment]="'center'">
                    <amexio-layout-item [fit]="true">
                        <amexio-layout-columns [border]="false" [orientation]="'horizontal'" [alignment]="'center'">
                            <amexio-layout-item>
                                <amexio-button [label]="'Buy'" [type]="'theme-color'" [tooltip]="'toolTip'" [icon]="'icon'" [disabled]="false" 
                                    class="localsearch">
                                </amexio-button>
                                <amexio-button [label]="'Sell'" [type]="'theme-color'" [tooltip]="'toolTip'" [icon]="'icon'" [disabled]="false" 
                                    class="localsearch">
                                </amexio-button>
                                <div>
                                    <amexio-row>
                                        <amexio-dropdown style="width:200px" [place-holder]="'Choose'" name="category" [field-label]="''" [data]="categories" [display-field]="'name'"
                                            [value-field]="'id'" [enable-sort]="true" [sort]="'asc'">
                                        </amexio-dropdown>

                                        <amexio-text-input style="width:500px" [field-label]="'label'" name="name" [has-label]="false" [place-holder]="'Search'"
                                            [icon-feedback]="true" class="localsearchtext">
                                        </amexio-text-input>
                                        <amexio-button [label]="'Search'" [type]="'theme-color'" [tooltip]="'toolTip'" [icon]="'icon'" [disabled]="false" [size]="'default'"
                                            [loading]="false" [block]="false" [bg-color]="'red'">
                                        </amexio-button>
                                        <amexio-column size="2" [fit]="false">

                                        </amexio-column>
                                    </amexio-row>
                                </div>
                            </amexio-layout-item>
                        </amexio-layout-columns>
                    </amexio-layout-item>
                </amexio-layout-columns>
            </div>
        </amexio-viewport-content-body>
    </amexio-viewport-content>
</amexio-viewport>