<amexio-viewport [type]="'2'" [scrollable]="true">
    <amexio-viewport-content [scrollable]="false">
        <amexio-viewport-background>
            <amexio-image [path]="'assets/living-room1.jpg'"></amexio-image>
        </amexio-viewport-background>
        <amexio-viewport-content-body>

            <amexio-nav [transparent]="true" [enable-side-nav-position]="true" [title]="'EyePropertyRecord.com'" [logo]="'assets/3.png'">
                <amexio-nav-item position-right [title]="'Home'" [icon]="'fa fa-home fa-fw fa-lg'" [type]="'button'" style="cursor: pointer;">
                </amexio-nav-item>
                <amexio-nav-item position-right [title]="'About'" [icon]="'fa fa-address-book-o fa-fw'" [type]="'button'" style="cursor: pointer;">
                </amexio-nav-item>
                <amexio-nav-item position-right *ngFor="let menus of navmenus" [type]="'menu'" [title]="menus.text" [icon]="menus.icon" [data]="menus.submenus">
                </amexio-nav-item>
                <amexio-nav-item position-right [title]="'Help'" [icon]="'fa fa-envelope fa-fw'" [type]="'button'" style="cursor: pointer;">
                </amexio-nav-item>
                <amexio-nav-item position-right [type]="'link'" [icon]="'fa fa-user'" [title]="'Login'">
                </amexio-nav-item>
            </amexio-nav>
            <div>
                <amexio-row>
                    <amexio-column size="12" style="padding-top:14%">
                    </amexio-column>
                </amexio-row>
                <amexio-layout-columns [orientation]="'vertical'" [border]="false">
                    <amexio-layout-item [fit]="true" *ngFor="let alignment of ['center']">
                        <amexio-layout-columns [border]="false" [orientation]="'horizontal'" [alignment]="alignment">
                            <amexio-layout-item>
                                <amexio-label size="large-bold" font-color="white">
                                    What do you wanna buy today?
                                </amexio-label>
                            </amexio-layout-item>

                        </amexio-layout-columns>
                    </amexio-layout-item>
                </amexio-layout-columns>
                <amexio-layout-columns [orientation]="'vertical'" [border]="false" [alignment]="'center'">
                    <amexio-layout-item [fit]="true">
                        <amexio-layout-columns [border]="false" [orientation]="'horizontal'" [alignment]="'center'">
                            <amexio-layout-item>
                                <amexio-button [label]="'Buy'" [type]="'theme-color'" [tooltip]="'toolTip'" [icon]="'icon'" [disabled]="false" class="localsearch">
                                </amexio-button>
                                <amexio-button [label]="'Sell'" [type]="'theme-color'" [tooltip]="'toolTip'" [icon]="'icon'" [disabled]="false" class="localsearch">
                                </amexio-button>
                                <div class="localsearch">
                                    <amexio-row>
                                        <div class="inputClass">
                                            <amexio-dropdown style="width:400px" [place-holder]="'Choose'" name="category" [field-label]="''" [data]="categories" [display-field]="'name'"
                                                [value-field]="'id'" [enable-sort]="true" [sort]="'asc'">
                                            </amexio-dropdown>
                                        </div>
                                        <div class="inputClass">
                                            <amexio-text-input style="width:650px" [field-label]="'label'" name="name" [has-label]="false" [place-holder]="'Search'"
                                                [icon-feedback]="true" class="localsearchtext">
                                            </amexio-text-input>
                                        </div>
                                        <amexio-button [label]="'Search'" [size]="'large'" [type]="'theme-color'" [tooltip]="'toolTip'" [icon]="'icon'" [disabled]="false"
                                            [size]="'default'" [loading]="false" [block]="false" [bg-color]="'red'">
                                        </amexio-button>
                                    </amexio-row>
                                </div>
                            </amexio-layout-item>
                        </amexio-layout-columns>
                    </amexio-layout-item>
                </amexio-layout-columns>
            </div>
        </amexio-viewport-content-body>
    </amexio-viewport-content>

    <amexio-viewport-content [scrollable]="false">
        <amexio-viewport-background>
            <amexio-image [path]="'assets/img2.jpg'"></amexio-image>
        </amexio-viewport-background>
        <amexio-viewport-content-body>
            <amexio-row>
                <amexio-column size="2" [fit]="false">
                </amexio-column>
                <amexio-column size="6" [fit]="false">
                    <amexio-label [size]="'large-bold'">
                        CITY EXPERTS in PUNE
                    </amexio-label>
                    <amexio-label [size]="'medium-bold'">
                        Reputed sellers in your city who have recently closed deals and are recommended by others...
                    </amexio-label>
                </amexio-column>
            </amexio-row>
            <br>
            <br>
            <amexio-row>
                <amexio-column size="4" [fit]="false">
                    <amexio-card-ce align="center">
                        <amexio-header-ce [background]="'linear-gradient(40deg, #ad791f, #fcff78)'" [height]="'75px'">
                            <amexio-badge [absolute]="true" [background]="'#e74c3c'" [color]="'white'" [top]="'0px'" [right]="'5%'">
                                <amexio-label>5.0</amexio-label>
                            </amexio-badge>
                            <amexio-image width="75px" [c-class]="'card-img-center'" height="75px" [filter]="'round'" [path]="'assets/card/im1.png'"></amexio-image>
                            <amexio-label [size]="'medium-bold'">
                                Redfin Homes
                            </amexio-label>
                        </amexio-header-ce>
                        <amexio-body-ce align="start">
                            <amexio-row>
                                <amexio-column size="6" [fit]="false">
                                    <amexio-rating-input [field-label]="'Property Options'" [(ngModel)]="propertyOption1" [max]="max" [read-only]="true">
                                    </amexio-rating-input>
                                </amexio-column>

                                <amexio-column size="6" [fit]="false">
                                    <amexio-rating-input [field-label]="'Deals Closed'" [(ngModel)]="dealsClosed1" [max]="max" [read-only]="true">
                                    </amexio-rating-input>
                                </amexio-column>

                                <amexio-column size="6" [fit]="false">
                                    <amexio-rating-input [field-label]="'Response'" [(ngModel)]="response1" [max]="max" [read-only]="true">
                                    </amexio-rating-input>
                                </amexio-column>

                                <amexio-column size="6" [fit]="false">
                                    <amexio-rating-input [field-label]="'Customer Response'" [(ngModel)]="customerResponse1" [max]="max" [read-only]="true">
                                    </amexio-rating-input>
                                </amexio-column>

                                <amexio-column size="6" [fit]="false">
                                    <b>2042 Rent Properties</b>
                                </amexio-column>

                                <amexio-column size="6" [fit]="false">
                                    <b>984 Operational Localities</b>
                                </amexio-column>
                            </amexio-row>


                        </amexio-body-ce>
                        <amexio-action-ce [border-top]="true" [align]="'center'">
                            <amexio-label [size]="'small-bold'" [enable-click]="true">
                                SNBP School Road, Hadapsar
                            </amexio-label>
                        </amexio-action-ce>
                    </amexio-card-ce>
                </amexio-column>
                <amexio-column size="4" [fit]="false">
                    <amexio-card-ce align="center">
                        <amexio-header-ce [background]="'linear-gradient(40deg, #ad791f, #fcff78)'" [height]="'75px'">
                            <amexio-badge [absolute]="true" [background]="'#e74c3c'" [color]="'white'" [top]="'0px'" [right]="'5%'">
                                <amexio-label>4.8</amexio-label>
                            </amexio-badge>
                            <amexio-image width="75px" [c-class]="'card-img-center'" height="75px" [filter]="'round'" [path]="'assets/card/im2.png'"></amexio-image>
                            <amexio-label [size]="'medium-bold'">
                                Trulia Property Expert
                            </amexio-label>
                        </amexio-header-ce>
                        <amexio-body-ce align="start">
                            <amexio-row>
                                <amexio-column size="6" [fit]="false">
                                    <amexio-rating-input [field-label]="'Property Options'" [(ngModel)]="propertyOption2" [max]="max" [read-only]="true">
                                    </amexio-rating-input>
                                </amexio-column>

                                <amexio-column size="6" [fit]="false">
                                    <amexio-rating-input [field-label]="'Deals Closed'" [(ngModel)]="dealsClosed2" [max]="max" [read-only]="true">
                                    </amexio-rating-input>
                                </amexio-column>

                                <amexio-column size="6" [fit]="false">
                                    <amexio-rating-input [field-label]="'Response'" [(ngModel)]="response2" [max]="max" [read-only]="true">
                                    </amexio-rating-input>
                                </amexio-column>

                                <amexio-column size="6" [fit]="false">
                                    <amexio-rating-input [field-label]="'Customer Response'" [(ngModel)]="customerResponse2" [max]="max" [read-only]="true">
                                    </amexio-rating-input>
                                </amexio-column>

                                <amexio-column size="6" [fit]="false">
                                    <b>1546 Rent Properties</b>
                                </amexio-column>

                                <amexio-column size="6" [fit]="false">
                                    <b>722 Operational Localities</b>
                                </amexio-column>
                            </amexio-row>
                        </amexio-body-ce>
                        <amexio-action-ce [border-top]="true" [align]="'center'">
                            <amexio-label [size]="'small-bold'" [enable-click]="true">
                                Magarpatta City Hadapsar
                            </amexio-label>
                        </amexio-action-ce>
                    </amexio-card-ce>
                </amexio-column>
                <amexio-column size="4" [fit]="false">
                    <amexio-card-ce align="center">
                        <amexio-header-ce [background]="'linear-gradient(40deg, #ad791f, #fcff78)'" [height]="'75px'">
                            <amexio-badge [absolute]="true" [background]="'#e74c3c'" [color]="'white'" [top]="'0px'" [right]="'5%'">
                                <amexio-label>4.5</amexio-label>
                            </amexio-badge>
                            <amexio-image width="75px" [c-class]="'card-img-center'" height="75px" [filter]="'round'" [path]="'assets/card/im3.png'"></amexio-image>
                            <amexio-label [size]="'medium-bold'">
                                Zenfolia Property Dealers
                            </amexio-label>
                        </amexio-header-ce>
                        <amexio-body-ce align="start">
                            <amexio-row>
                                <amexio-column size="6" [fit]="false">
                                    <amexio-rating-input [field-label]="'Property Options'" [(ngModel)]="propertyOption3" [max]="max" [read-only]="true">
                                    </amexio-rating-input>
                                </amexio-column>

                                <amexio-column size="6" [fit]="false">
                                    <amexio-rating-input [field-label]="'Deals Closed'" [(ngModel)]="dealsClosed3" [max]="max" [read-only]="true">
                                    </amexio-rating-input>
                                </amexio-column>

                                <amexio-column size="6" [fit]="false">
                                    <amexio-rating-input [field-label]="'Response'" [(ngModel)]="response3" [max]="max" [read-only]="true">
                                    </amexio-rating-input>
                                </amexio-column>

                                <amexio-column size="6" [fit]="false">
                                    <amexio-rating-input [field-label]="'Customer Response'" [(ngModel)]="customerResponse3" [max]="max" [read-only]="true">
                                    </amexio-rating-input>
                                </amexio-column>

                                <amexio-column size="6" [fit]="false">
                                    <b>242 Rent Properties</b>
                                </amexio-column>

                                <amexio-column size="6" [fit]="false">
                                    <b>84 Operational Localities</b>
                                </amexio-column>
                            </amexio-row>
                        </amexio-body-ce>
                        <amexio-action-ce [border-top]="true" [align]="'center'">
                            <amexio-label [size]="'small-bold'" [enable-click]="true">
                                Shitaladevi Nagar, Mundhwa
                            </amexio-label>
                        </amexio-action-ce>
                    </amexio-card-ce>
                </amexio-column>
            </amexio-row>
        </amexio-viewport-content-body>

    </amexio-viewport-content>
</amexio-viewport>