<amexio-viewport [type]="'1'" [scrollable]="false">
    <amexio-viewport-content [scrollable]="false">
        <amexio-viewport-background>
            <amexio-image [path]="'assets/pets.jpg'"></amexio-image>
        </amexio-viewport-background>
        <amexio-viewport-content-body>
            <amexio-box border-color="blue" align="right">
                <amexio-label [enable-click]="true">
                    IMAGES BY MARK SEBASTIAN
                </amexio-label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <amexio-label [enable-click]="true">
                    BACK TO CODROPS ARTICLE
                </amexio-label>
            </amexio-box>
            <amexio-nav [enable-side-nav-position]="true">

                <amexio-nav-item position-left [title]="'Home'" [icon]="'fa fa-home fa-fw fa-lg'" [type]="'button'" style="cursor: pointer;">
                </amexio-nav-item>
                <amexio-nav-item position-left [title]="'About'" [icon]="'fa fa-address-book-o fa-fw'" [type]="'button'" style="cursor: pointer;">
                </amexio-nav-item>
                <amexio-nav-item position-left [title]="'Classes'" [icon]="'fa fa-television fa-fw'" [type]="'button'" style="cursor: pointer;">
                </amexio-nav-item>
                <amexio-nav-item position-left [title]="'Gallery'" [icon]="'fa fa-picture-o'" [type]="'button'" style="cursor: pointer;">
                </amexio-nav-item>
                <amexio-nav-item position-left [title]="'Contact'" [icon]="'fa fa-envelope fa-fw'" [type]="'button'" style="cursor: pointer;">
                </amexio-nav-item>

            </amexio-nav>
            <amexio-layout-grid [layout]="'LayoutSample1'">
                <amexio-grid-item [name]="'gridmenu1'">
                    <amexio-card-ce>
                        <amexio-header-ce [height]="'175px'" [color]="'white'" [bg-image]="'assets/pets3.jpg'">
                        </amexio-header-ce>
                        <amexio-body-ce>
                            <p>
                                Money can buy you a fine dog, but only love can make him wag his tail </p>
                        </amexio-body-ce>
                    </amexio-card-ce>
                </amexio-grid-item>

                <amexio-grid-item [name]="'gridmenu2'">
                    <amexio-card-ce>
                        <amexio-header-ce [height]="'175px'" [color]="'white'" [bg-image]="'assets/pets6.jpg'">
                        </amexio-header-ce>
                        <amexio-body-ce>
                            <p>
                                An animal's eyes have the power to speak a great language
                            </p>
                        </amexio-body-ce>
                    </amexio-card-ce>
                </amexio-grid-item>
                <amexio-grid-item [name]="'gridmenu3'">
                    <amexio-card-ce>
                        <amexio-header-ce [height]="'200px'" [color]="'white'" [bg-image]="'assets/pets5.jpg'">
                        </amexio-header-ce>
                        <amexio-body-ce>
                            <p>
                                Like all pure creatures, cats are pactical 

                            </p>
                        </amexio-body-ce>
                    </amexio-card-ce>
                </amexio-grid-item>
                <amexio-grid-item [name]="'gridmenu4'">
                    <amexio-card-ce>
                        <amexio-header-ce [height]="'200px'" [color]="'white'" [bg-image]="'assets/pets1.jpeg'">
                        </amexio-header-ce>
                        <amexio-body-ce>
                            <p>
                                Pets have more love and compassion in them. </p>
                        </amexio-body-ce>
                    </amexio-card-ce>
                </amexio-grid-item>

                <amexio-grid-item [name]="'gridlogin'">
                    <amexio-card-ce [align]="'center'" [color]="'white'" [bg-image]="'assets/images/cardce/children-cycle.jpg'">
                        <amexio-header-ce [align]="'space-between'">
                            <amexio-label size="medium-bold">Connect To Us
                            </amexio-label>
                            <amexio-layout-columns [orientation]="'horizontal'" [border]="false">
                            </amexio-layout-columns>
                        </amexio-header-ce>
                        <amexio-body-ce>
                            <amexio-text-input place-holder="Enter loginId" icon-feedback="true">
                            </amexio-text-input>
                            <br>
                            <amexio-text-input place-holder="Enter Password" icon-feedback="true">
                            </amexio-text-input>
                            <amexio-label size="small-bold" font-color="red">
                                forgot password??
                            </amexio-label>
                        </amexio-body-ce>
                        <amexio-action-ce>
                            <amexio-floating-button [relative]="true" [type]="'red'" [icon]="'fa fa-google-plus'">
                            </amexio-floating-button>
                            <amexio-floating-button [relative]="true" [bg-color]="'#4267b2'" [icon]="'fa fa-facebook'">
                            </amexio-floating-button>
                            <amexio-floating-button [relative]="true" [bg-color]="'#0077B5'" [icon]="'fa fa-linkedin'">
                            </amexio-floating-button>
                        </amexio-action-ce>
                    </amexio-card-ce>
                </amexio-grid-item>
            </amexio-layout-grid>

        </amexio-viewport-content-body>
    </amexio-viewport-content>
</amexio-viewport>