<amexio-viewport [type]="'2'" [scrollable]="true">
  <amexio-viewport-content [scrollable]="false">

    <amexio-viewport-background>
      <amexio-image [path]="'assets/menu1/1.jpg'"></amexio-image>
    </amexio-viewport-background>

    <amexio-viewport-content-body>

      <div class="rowClass">
        <amexio-row>
          <amexio-column size="3" [fit]="false">
            <amexio-menu-ce [animation-type]="4" [data]="tempData" [font]="'Josefin Slab'" [size]="50">
            </amexio-menu-ce>
          </amexio-column>
        </amexio-row>
      </div>
    </amexio-viewport-content-body>
  </amexio-viewport-content>

</amexio-viewport>